/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}

body{  
        margin: 2% 8%; 
        background: linear-gradient(#b3b9d9,#fbebe4);
        background-blend-mode: screen;
        font-family: sans-serif;
        overflow: hidden;
        

}

:root{
    --borderColor: #edf0f5;
    --textLight: #ababad
}